@font-face
{
	font-family: "SexyShout";
	src: url("../static/fonts/SexyShoutFreeFont.ttf");
}

.navbar
{
	background-color: #FFC0CB;
}

nav .navbar-brand
{
	/* font size for the logo*/
	font-size: xx-large;
	font-family: "SexyShout";
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #255da6;
}

nav .navbar-brand .white
{
    color: #ffffff;
}

.img-thumbnail
{
	background-color: #FFC0CB;
}

.btn-primary {
	background-color: #FFC0CB;
	border-color: #FFC0CB;
}


